{% extends "The_Child_Autism_Spectrum_Quotient_Questionnaire/base.html" %}

{% block title %}CB3 Quiz{% endblock %}

{% block content %}
{% set total_questions = questions|length %}
{% set answered_questions = 0 %}
{% for question_num, question_details in questions.items() %}
    {% if question_num in selectedOptions %}
        {% set answered_questions = answered_questions + 1 %}
    {% endif %}
{% endfor %}
{% set progress = (answered_questions / total_questions) * 100 %}

<div class="progress progress-container" style="margin-bottom: 20px;">
    <div class="progress-bar bg-success" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
</div>

<h1>The Child Autism Spectrum Quotient Questionnaire</h1>
<hr>

<div class="form-group" style="margin-bottom: 20px;">
    <label for="subjectno" style="margin-bottom: 5px;" >Subject No:</label>
    <input type="text" class="form-control" id="subjectno" placeholder="Enter Patient's Subject No." style="border-radius: 15px;">
    <p id="subjectnoOutput" style="display: none;"></p>
</div>

<div class="form-group" style="margin-bottom: 20px;">
    <label for="patientName" style="margin-bottom: 5px;" >Child's Name:</label>
    <input type="text" class="form-control" id="patientName" placeholder="Enter Patient's Name" style="border-radius: 15px;">
    <p id="patientNameOutput" style="display: none;"></p>
</div>

<div class="form-group" style="margin-bottom: 20px;">
    <label for="patientgender" style="margin-bottom: 5px;" >Child's Gender:</label>
    <input type="text" class="form-control" id="patientgender" placeholder="Enter Patient's Gender" style="border-radius: 15px;">
    <p id="patientGenderOutput" style="display: none;"></p>
</div>

<div class="form-group" style="margin-bottom: 20px;">
    <label for="dob" style="margin-bottom: 5px;">Child's Date of Birth:</label>
    <input type="date" class="form-control" id="dob" style="border-radius: 15px;">
    <p id="dobOutput" style="display: none;"></p>
</div>

<div class="form-group" style="margin-bottom: 20px;">
    <label for="dateTime" style="margin-bottom: 5px;">Todays Date and Start Time</label>
    <input type="text" class="form-control" id="dateTime" style="border-radius: 15px;" readonly>
    <p id="dateTimeOutput" style="display: none;"></p>
</div>

<div class="form-group" style="margin-bottom: 20px;">
    <label for="childAge" style="margin-bottom: 5px;">Child's Age:</label>
    <input type="text" class="form-control" id="childAge" style="border-radius: 15px;" readonly>
    <p id="childAgeOutput" style="display: none;"></p>
</div>


<script>
    function updateOutput(id, value) {
        document.getElementById(id).value = value;
    }

    const dobInput = document.getElementById('dob');
    const childAgeInput = document.getElementById('childAge');

    dobInput.addEventListener('change', () => {
        const dob = new Date(dobInput.value);
        const today = new Date();
        let years = today.getFullYear() - dob.getFullYear();
        let months = today.getMonth() - dob.getMonth();
        if (today.getDate() < dob.getDate()) {
            months--;
        }
        if (months < 0) {
            years--;
            months += 12;
        }
        childAgeInput.value = `${years} years and ${months} months`;
    });
</script>

<div class="form-group" style="margin-bottom: 20px;">
    <fieldset style="border: 2px solid #ccc; padding: 20px; border-radius: 15px;">
        <legend style="margin-bottom: 20px;">Instructions:</legend>
        <p>W.I.P.</p>
    </fieldset>
</div>

<script>
    var now = new Date();
    var year = now.getFullYear();
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    var day = ("0" + now.getDate()).slice(-2);
    var hours = ("0" + now.getHours()).slice(-2);
    var minutes = ("0" + now.getMinutes()).slice(-2);
    var seconds = ("0" + now.getSeconds()).slice(-2);
    var strDateTime = `${year}-${month}-${day} ${hours}:${minutes}`;

    document.getElementById('dateTime').value = strDateTime;
</script>

<input type="hidden" id="quizType" value="{{ quiz_type }}">

<div class="questions-container">
    {% for question_num, question_details in questions.items() %}
    <div class="question-container" style="display: flex; align-items: center;">
        <p class="question-details">{{ question_num }}. {{ question_details['question_prompt'] }}</p>
        <div class="option-buttons" id="option-buttons-{{ question_num }}">
            <button type="button" class="btn btn-outline-primary option-button" data-question="{{ question_num }}" data-option="definitely agree">definitely agree</button>
            <button type="button" class="btn btn-outline-primary option-button" data-question="{{ question_num }}" data-option="slightly agree">slightly agree</button>
            <button type="button" class="btn btn-outline-primary option-button" data-question="{{ question_num }}" data-option="slightly disagree">slightly disagree</button>
            <button type="button" class="btn btn-outline-primary option-button" data-question="{{ question_num }}" data-option="definitely disagree">definitely disagree</button>
            <!-- <button type="button" class="btn btn-outline-primary option-button" data-question="{{ question_num }}" data-option="-1">N/A</button> -->
        </div>
    </div>
    
    {% endfor %}
</div>
<input type="hidden" id="selected-options" name="selected-options">
<div style="display: flex; align-items: start;">
    <button type="submit" class="btn btn-primary" id="nextButton">Submit</button>

    <div id="error-message" style="display: none; color: red; border: 1px solid red; border-radius: 5px; padding: 7px; margin-left: 20px;">
        An error occurred while submitting. Please try again. Check the console for errors.
    </div>

    <div id="unfinished-content" style="display: none; color: red; border: 1px solid red; border-radius: 5px; padding: 7px; margin-left: 20px;">
        You have not completed the questionairre. Please complete all questions before submitting.
    </div>
</div>

<style>
    .selected-option {
        font-weight: bold;
        font-size: 1.2em;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>

<style>
    .selected-option {
        font-weight: bold;
        font-size: 1.2em;
    }
</style>

<script>
    const optionButtons = document.querySelectorAll('.option-button');
    let selectedOptions = {};
 
    window.addEventListener('beforeunload', function (e) {
        // Cancel the event
        e.preventDefault();
        // Chrome requires returnValue to be set
        e.returnValue = '';
    });
    
    optionButtons.forEach(button => {
        button.addEventListener('click', () => {
            const questionNum = button.getAttribute('data-question');
            const option = button.getAttribute('data-option');
    
            // Update the selected option directly in the selectedOptions object
            selectedOptions[questionNum] = option;
        
            const buttonsOfQuestion = document.querySelectorAll(`#option-buttons-${questionNum} .option-button`);
            buttonsOfQuestion.forEach(btn => {
                btn.classList.remove('btn-primary');
                btn.classList.remove('selected-option'); // Remove the 'selected-option' class
                btn.classList.add('btn-outline-primary');
            });
    
            button.classList.remove('btn-outline-primary');
            button.classList.add('btn-primary');
            button.classList.add('selected-option'); // Add the 'selected-option' class
    
            const totalQuestions = Object.keys(selectedOptions).length;
            const progress = (totalQuestions / {{ total_questions }}) * 100;
            const progressBar = document.querySelector('.progress-bar');
            progressBar.style.width = `${progress}%`;
            progressBar.textContent = `${progress.toFixed(2)}%`;
        });
    });

    const nextButton = document.getElementById('nextButton');
    const quizType = document.getElementById('quizType').value;

    nextButton.addEventListener('click', () => {  
        if (Object.keys(selectedOptions).length < {{ total_questions }}) {
            const unfinishedContent = document.getElementById('unfinished-content');
            let missingQuestions = [];

            for (let i = 1; i <= {{ total_questions }}; i++) {
                if (!selectedOptions.hasOwnProperty(i)) {
                    missingQuestions.push(i);
                }
            }

            unfinishedContent.textContent = 'Missing questions: ' + missingQuestions.join(', ');
            unfinishedContent.style.display = 'block';

            setTimeout(function() {
                unfinishedContent.style.display = 'none';
            }, 1000);
            return;
        }

        event.preventDefault();

        const subjectNoInput = document.querySelector('#subjectno');
        const subjectNoOutput = document.querySelector('#subjectnoOutput');
        const patientNameInput = document.querySelector('#patientName');
        const patientNameOutput = document.querySelector('#patientNameOutput');
        const patientGenderInput = document.querySelector('#patientgender');
        const patientGenderOutput = document.querySelector('#patientGenderOutput');
        const dobInput = document.querySelector('#dob');
        const dobOutput = document.querySelector('#dobOutput');
        const dateTimeInput = document.querySelector('#dateTime');
        const dateTimeOutput = document.querySelector('#dateTimeOutput');

        subjectNoOutput.textContent = subjectNoInput.value;
        subjectNoOutput.style.display = 'block';
        subjectNoOutput.style.fontWeight = 'bold';
        patientNameOutput.textContent = patientNameInput.value;
        patientNameOutput.style.display = 'block';
        patientNameOutput.style.fontWeight = 'bold';
        patientGenderOutput.textContent = patientGenderInput.value;
        patientGenderOutput.style.display = 'block';
        patientGenderOutput.style.fontWeight = 'bold';
        dobOutput.textContent = dobInput.value;
        dobOutput.style.display = 'block';
        dobOutput.style.fontWeight = 'bold';
        dateTimeOutput.textContent = dateTimeInput.value;
        dateTimeOutput.style.display = 'block';
        dateTimeOutput.style.fontWeight = 'bold';
        const childAgeOutput = document.querySelector('#childAgeOutput');
        childAgeOutput.textContent = childAge.value;
        childAgeOutput.style.display = 'block';
        childAgeOutput.style.fontWeight = 'bold';

        // Saving PDF functionality
        // var pdf = new jsPDF();
        // pdf.fromHTML(document.body.outerHTML);
        // pdf.save('test.pdf');

        const subjectNoValue = document.querySelector('#subjectno').value;
        const patientNameValue = document.querySelector('#patientName').value;
        const patientGenderValue = document.querySelector('#patientgender').value;
        const dobValue = document.querySelector('#dob').value;
        const dateTimeValue = document.querySelector('#dateTime').value;

        const data = {
            subjectNo: subjectNoValue,
            patientName: patientNameValue,
            patientGender: patientGenderValue,
            dob: dobValue,
            dateTime: dateTimeValue,
            childAgeOutput: childAge.value,
            quizData: selectedOptions,
        };

        const jsonString = JSON.stringify(data);    

        fetch('/submit/The_Child_Autism_Spectrum_Quotient_Questionnaire', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: jsonString,
        })
        .then(response => response.json())
        .then(data => {
            // console.log(data);
            if (data.success) {
                // downloads file: window.location.href = data.excel;
                window.location.href = data.redirect;
            } else {
                const errorMessage = document.getElementById('error-message');
                errorMessage.style.display = 'block';

                setTimeout(function() {
                    errorMessage.style.display = 'none';
                }, 1000);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            const errorMessage = document.getElementById('error-message');
            errorMessage.style.display = 'block';

            setTimeout(function() {
                errorMessage.style.display = 'none';
            }, 1000);
        });
    });
    
    
</script>

{% endblock %}
